body {
  margin: 0;
  font-family: Poppins, Arial;
}

#header {
  background: #111;
  color: white;
  padding: 15px 0;
  position: sticky;
  top: 0;
}

#header .logo {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
}

#navbar ul {
  list-style: none;
  padding: 0;
}

#navbar ul li {
  display: inline-block;
  margin-right: 15px;
}

#navbar a {
  color: white;
  text-decoration: none;
}

#hero {
  background: linear-gradient(#000000b0, #000000b0), url("../img/hero.jpg") center/cover fixed;
  height: 90vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#about, #portfolio, #research, #contact {
  padding: 60px 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.card img {
  width: 100%;
  border-radius: 8px;
}
